.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.content {
  height: 130px;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.linkWrapper {
  margin-top: 10px;
}
